@import url("https://fonts.googleapis.com/css?family=Young+Serif:regular");
@import url("https://fonts.googleapis.com/css?family=Outfit:regular,600,700");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}
:root {
  /* Fonts */
  --young-serif: "Young Serif", serif;
  --outfit: "Outfit", sans-serif;
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}
body {
  background-color: var(--stone-100);
  font-family: var(--outfit);
}
.container {
  width: 600px;
  margin: 50px auto;
  border-radius: 20px;
  background-color: var(--white);
}
.container .img-box {
  padding: 20px 20px 0;
  width: 100%;
  max-width: 100%;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.content > .title {
  color: var(--stone-900);
  font-weight: 400;
  font-family: var(--young-serif);
}
.description {
  color: var(--stone-900);
  font-size: 14px;
  line-height: 1.5;
}
/* preparation time */
.prep-box {
  padding: 20px;
  background-color: var(--rose-50);
}
.prep-box .title {
  color: var(--rose-800);
}
.prep-box .time-list {
  padding: 20px 20px 0;
  line-height: 1.8;
  color: var(--stone-600);
}
.time-list li {
  padding-left: 20px;
}
.time-list li span {
  font-weight: 700;
  color: var(--stone-900);
}
/* All Sections */
section:not(.nutrition) {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
section h2 {
  color: var(--brown-800);
  font-family: var(--young-serif);
  font-weight: 400;
}
section ul {
  padding: 20px;
  line-height: 1.6;
}
section ol {
  padding: 20px;
}
section li {
  color: var(--stone-600);
  padding-left: 20px;
}
section li::marker {
  color: var(--rose-800);
}
section li span {
  color: var(--stone-900);
  font-weight: 700;
}
/* Nutrition */
.nutrition p {
  color: var(--stone-600);
  font-size: 14px;
  font-weight: 600;
}
dl {
  display: flex;
  flex-direction: column;
}
dl div {
  border-bottom: 1px solid var(--stone-150);
  padding: 20px 0;
}
dl div:last-child {
  border: none;
}
dt {
  position: absolute;
  left: 30px;
  top: 10px;
  color: var(--stone-600);
}
dd {
  position: absolute;
  top: 10px;
  left: 50%;
  color: var(--brown-800);
  font-weight: 600;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .container {
    border-radius: 0;
    margin: 0;
  }
  .img-box {
    padding: 0;
  }
}